In [1]:
import pandas as pd 
import numpy as np

In [2]:
df=pd.read_csv('smsspamcollection.tsv',sep='\t')
df.head()

  label                                            message  length  punct
0   ham  Go until jurong point, crazy.. Available only ...     111      9
1   ham                      Ok lar... Joking wif u oni...      29      6
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...     155      6
3   ham  U dun say so early hor... U c already then say...      49      6
4   ham  Nah I don't think he goes to usf, he lives aro...      61      2

In [3]:
df.isnull().sum()

label      0
message    0
length     0
punct      0
dtype: int64

In [4]:
df['label'].unique()

array(['ham', 'spam'], dtype=object)

In [5]:
df['label'].value_counts()

ham     4825
spam     747
Name: label, dtype: int64

In [6]:
x=df[['length','punct']].values
y=df['label'].values

In [10]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=42)

In [11]:
print(x_train.shape)
print(x_test.shape)

(3900, 2)
(1672, 2)

In [18]:
from sklearn.linear_model import LogisticRegression
lr=LogisticRegression(solver='lbfgs')
lr.fit(x_train,y_train)

LogisticRegression()

In [20]:
y_pred=lr.predict(x_test)

In [21]:
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(y_test,y_pred)
cm

array([[1404,   44],
       [ 219,    5]], dtype=int64)

In [23]:
pd.DataFrame(cm,index=['ham','spam'],columns=['ham','spam'])

       ham  spam
ham   1404    44
spam   219     5